* {
    cursor: url('images/cursor-1.gif'), auto;
}

body {
    margin: 0px;
}

::selection {
    color: white;
    background: #333;
}

.main-content {
    background: #ffffff;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 20px auto; 
    max-width: 1200px; 
}

.navbar-container {
    display: flex;
    justify-content: center; 
    padding: 10px 0; 
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%; 
    max-width: 970px; 
    margin: 0 auto; 
    background-color: #333;
}

.navbar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 130px; 
    justify-content: center; 
}

.navbar li {
    margin: 0;
}

.navbar a {
    text-decoration: none; 
    color: white; 
    padding: 10px 20px;
    border-radius: 4px;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
}

#no-ready {
    margin-top: 50px;
    margin-left: 200px;
}

#uc {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 70px;
    margin-top: -145px;
    margin-left: 570px;
}